:root {
    --default-bg-color: #fff;
    --default-grid-color: rgba(128, 128, 128, 0.13);
    --default-text-color: #000;
    --default-accent-color: #ececec;
    --default-accent-color-alt: #b5b5b5;
    --default-alive-cell: #000;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* fallback height when custom properties are not supported */
    height: 100vh;
    /* variable height for correct sizing on mobile */
    height: calc(var(--vh, 1vh) * 100);
}

#dropdownContainer {
    background-color: var(--default-accent-color);
    border: 1px solid var(--default-accent-color-alt);
    padding: 10px;
}

#dropdown {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#dropdownButtonContainer {
    display: flex;
    justify-content: space-between;
}

.justifyFlexEnd {
    display: flex;
    justify-content: flex-end !important;
}

#dropdownButtonContainer #presetsButton {
    cursor: pointer;
}

#presetTitle {
    text-align: center;
}

#dropdown .preset {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    padding: 10px;
    margin: 10px;
}

#dropdown .preset:hover {
    background-color: var(--default-accent-color-alt);
    cursor: pointer;
}

#dropdown .preset img {
    width: 50%;
    height: auto;
    margin: 5px;
}

#dropdown .preset .presetName {
    font-weight: 600;
}

.aliveText {
    color: green;
}

.deadText {
    color: red;
}

#intoTitle {
    text-align: center;
}

#infoContainer {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#infoContainer p {
    max-width: 1000px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#actionBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--default-accent-color-alt);
    background-color: var(--default-accent-color);
}

#actionBarSecondary {
    display: flex;
    align-items: center;
}

#buttons > button {
    cursor: pointer;
}

#speedInput {
    display: flex;
    margin: 0 10px;
}

#speedInput > input {
    cursor: pointer;
}

.gridRow {
    display: flex;
    flex-direction: row;
}

.cell {
    border: 1px solid var(--default-grid-color);
    width: 15px;
    height: 15px;
}

.alive {
    background-color: var(--default-alive-cell);
}

.hidden {
    display: none !important;
}

.noSelect {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/******************

    Media Queries

*******************/

@media only screen and (max-width: 1100px) {
    .cell {
        width: 10px;
        height: 10px;
    }
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 12px;
    }

    button {
        padding: 1px;
    }

    .cell {
        width: 6px;
        height: 6px;
    }
}
