* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* fallback height when custom properties are not supported */
    height: 100vh;
    /* variable height for correct sizing on mobile */
    height: calc(var(--vh, 1vh) * 100);
}

#dropdownContainer {
    background-color: rgb(236, 236, 236);
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 10px;
}

#dropdown {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#presetButtonContainer {
    display: flex;
    justify-content: flex-end;
}

#dropdown .preset {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    padding: 10px;
    margin: 10px;
}

#dropdown .preset:hover {
    background-color: rgba(187, 187, 187, 0.616);
    cursor: pointer;
}

#dropdown .preset img {
    width: 50%;
    height: auto;
    margin: 5px;
}

#dropdown .preset .presetName {
    font-weight: 600;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#actionBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: rgb(236, 236, 236);
}

#actionBarSecondary {
    display: flex;
    align-items: center;
}

#speedInput {
    display: flex;
    margin: 0 10px;
}

.gridRow {
    display: flex;
    flex-direction: row;
}

.cell {
    border: 1px solid rgba(128, 128, 128, 0.13);
    width: 15px;
    height: 15px;
}

.alive {
    background-color: black;
}

.hidden {
    display: none !important;
}

/******************

    Media Queries

*******************/

@media only screen and (max-width: 1100px) {
    .cell {
        width: 10px;
        height: 10px;
    }
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 12px;
    }

    button {
        padding: 1px;
    }

    .cell {
        width: 6px;
        height: 6px;
    }
}
